@import url('https://code.cdn.mozilla.net/fonts/fira.css');

body, h1, h2, h3, h4, h5, p, ul, li {
  font-family: 'Fira Sans', sans-serif;
}

code, kbd, pre, samp {
  font-family: 'Fira Mono', monospace;
}

button, input, select, textarea {
  font-family: 'Fira Sans', sans-serif;
}

.book .book-header, .book .book-summary {
  font-family: 'Fira Sans', sans-serif;
}

.solucion {
  padding: 1em 1em 1em 1em;
  margin-bottom: 2em;
  border: 2px solid black;
  border-radius: 5px;
  position:relative;
}
